/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  /* font-family: 'Oleo Script Swash Caps', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar {
  border-right: 1px solid #F2F2F4;
  background: #FFF;
  padding: 10px;
}

.sideBar {
  position:fixed;
  display:flex;
  flex-direction:column;
  top:0;
  bottom:0;
  left:0;
  width:60px;
  /* background:#F9F9F9; */
  overflow-x:hidden;
  flex:1;
  /* border-right: 1px solid #F2F2F4; */
}
.contentDashboard{
  margin-left: 60px;
  min-width: 550px;
  background: #eeeeee;
  height: calc(100vh - 10px);
  border-radius: 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.mb-2{margin-bottom: 20px;}
.mb-3{margin-bottom: 30px;}
.mb-4{margin-bottom: 40px;}
.mb-5{margin-bottom: 50px;}


.tagPlugin{
  text-align :center;
  background-color: #FFF;
  border: 1px solid #e0e1e2 ;
  border-radius: 10px;
  padding: 15px;
}

.truncateText span{
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Globos chat */
.imessage {
  /* background-color: #fff;
  border: 1px solid #e5e5ea; */
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  
  font-size: 1.25rem;
  /* margin: 0 auto 1rem;
  max-width: 600px; */
  padding: 0.5rem 1.5rem;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  font-size: 15px;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #2294fb;
  color: #fff; 
  float : right;
  text-align: right;
}
p.from-me-meta {
  align-self: flex-end;
  color: #ccc; 
  margin-top: 0px !important;
  text-align: right;
  font-size: 12px
}

p.from-me a{
  color:#FFF
}

p.from-them-meta {
  align-self: flex-start;
  color: #ccc; 
  margin-top: 0px !important;
  
  font-size: 12px
}
p.from-them-meta:hover, p.from-me-meta:hover{color:#000}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #2294fb;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0 0rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}


.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}

.comment {
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  max-width: 100%;
  padding: 0;
}

.heightText{height: 100px !important}
.showLabel{display: none;}
.showHeader{display: contents !important;}

@media screen and (max-width: 1030px) {
  .heightText{height: 70px !important;margin-bottom:10px ;}
  .hideText{display: none;}
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 0.5rem;
  }
  .showLabel{display :block;}
  .showHeader{display: none !important;}

  .container {
    padding: 0.5rem;
  }

  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }

  .imessage p {
    margin: 0.5rem 0;
  }

  

}

.ui.toggle.checkbox input:checked~.box:before,.ui.toggle.checkbox input:checked~label:before {
  background-color: #00b5ad !important
}

.statusBar{
  background:#FF1744;
  height: 10px;
}

.statusBarblue{background:#3EBD61; height: 10px;}
.statusBarOff{background:#EF9400; height: 10px;}


.selectActivity {
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  padding: 0.50em 1em;
  color: rgba(0,0,0,.87);
  margin-left: 15px;
  margin-right: 15px;
}

.removeMargin > .menu{
  margin-bottom: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.removeMargin > .tab{
  margin-top: 0px;
  grid-row: 2;
}

.removeMargin > .ui.grid > .four.wide.column {
  width: 12.5% !important;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(-60px + 100vh);
}

.removeMargin > .ui.grid > .stretched.twelve.wide.column {
  width: 87.5% !important;
}
.ui.attached.segment{
  border-radius: 15px;
}

.dnd{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  border-color: #6b6b6b;
  color: #6b6b6b;
  outline: none;
  transition: border .24s ease-in-out;
  float: left;
  cursor:default;

}

.inboxcolor_rose {
  color: #C45FAC
}

.inboxcolor_blue {
  color : #4d55a5
}

.ui.colorblue.button {
  background-color:  #4d55a5;
  color: #fff;
}


.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
}

.label-t {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;

}

/* Mobile */

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait  coputer */

@media only screen and (min-width: 768px) and (max-width: 1920px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}


/* Mobile */

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large monitor only"]:not(.computer),
  [class*="widescreen monitor only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large monitor"]),
  [class*="tablet only"]:not([class*="large monitor"]),
  [class*="computer only"]:not([class*="large monitor"]),
  [class*="large monitor hidden"],
  [class*="widescreen monitor only"]:not([class*="large monitor"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen monitor"]),
  [class*="tablet only"]:not([class*="widescreen monitor"]),
  [class*="computer only"]:not([class*="widescreen monitor"]),
  [class*="large monitor only"]:not([class*="widescreen monitor"]),
  [class*="widescreen monitor hidden"],
  [class*="widescreen monitor or lower hidden"] {
    display: none !important;
  }
}

.botones-container {
  display: flex;
  flex-direction: column; /* Alineación en columna */
  gap: 10px; /* Espacio entre botones (opcional) */
}


/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-off {
  background-color: #c1c1c1;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
  display: none !important;
  background: #00b5ad;
}

#elemento {
  display: block;
}

@media screen and (max-width: 700px) {
  .showHide  { display: block; }

  #elemento {
    background: #00b5ad;
    visibility: hidden;
    display: none !important
  
  }
}

/* Mobile first - up to 768px wide */
@media screen and (min-width:1px) and (max-width:767px) {
/* body   { background-color: #F60; } */

  #chicon { 
    
    visibility: hidden;
    display: none !important

  }
  #elementoAliasName {
    
    visibility: hidden;
    display: none !important

  }

}

/* Tablet targetted size */
@media screen and (min-width:768px) and (max-width:1200px) {
 /* body   { background-color: #0F0 } */
  #elementoAliasName{
   
    visibility: hidden;
    display: none !important
  
  }

}

/* Desktop size */
@media screen and (min-width:1201px) {
  /*body   { background-color: #06F } */
}

.containerAliasUnread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerupdown {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.contenedorTab {
  display: grid;
  grid-template-columns: auto auto; /* Dos columnas de tamaño automático */
  grid-gap: 10px; /* Espacio entre las celdas */
}

.a, .c {
  justify-self: start; /* Alinea el texto a la izquierda */
}

.b, .d {
  justify-self: end; /* Alinea el texto a la derecha */
}

/* Para dispositivos móviles, cambia a una sola columna */
@media (max-width: 1035px) {
  .contenedorTab {
    grid-template-columns: 1fr; /* Una sola columna */
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Puedes cambiar el color según tus preferencias */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}